/*
Theme Name: Bootswitch
Version: 1.0
Requires at least: 5-4
Requires PHP: 7.4
Description: Wordpress theme capable of switching to different Bootswatch themes based on Bootstrap
Tags: bootstrap bootswatch
Author: Thomas Mol
*/

/* Icons */

.bi {

  margin-top: -0.1rem;
  margin-right: 0.5rem;  
}

/* Main */

#site-content {

  min-height: 50vh;
}